/**  General Styles */
html {
  scroll-behavior: smooth;
}
body {
  height: 400vh;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

/** Header Styles */
header {
  background: url(.//WD_PRO_IMG_VID/BG_HeadImg.jpg) repeat-x;
  letter-spacing: 2.5px;
  height: 300px;
}
.Main {
  text-transform: uppercase;
  margin-top: 140px;
}
.H {
  text-transform: uppercase;
}

@keyframes IND {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Main {
  animation: IND 1.5s ease-in-out;
}

/**  Navbar Styles */
  .Navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  nav {
    height: 75px;
    width: 100%;
  }
  nav ul {
    position: absolute;
    top: 0%;
    left: 50%;
    line-height: 4;
  }
  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    z-index: 1;
    margin: 0 18px;
  }
  nav ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  nav ul li a:hover {
    color: #fff;
    color: black;
    &:before {
      transform: scaleY(1);
      opacity: 1;
    }
    &:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.3s ease-in-out;
  }
  nav ul li a:hover::after {
    width: 100%;
  }

/** Section Styles */
.Image {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.Image:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
img {
  height: 250px;
  width: 320px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px;
  transition: box-shadow 0.3s ease-in-out;
}
.Image {
  max-height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.Image:hover {
  transform: scale(1.03);
}


/** Footer Style */
footer a {
  text-decoration: none;
  color: teal;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
footer a:hover {
  color: white;
  background-color: black;
}


/** Media Queary */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
  }
  header {
    background-image: url();
  }
  .Navbar {
    z-index: 5;
    background-color: black;
  }
  h1 {
    width: 75%;
    margin-left: 75px;
  }
  nav {
    background-color: black;
    z-index: 5;
  }
  .bg-dark {
    background-color: #fed8a9;
  }
  video {
    height: auto;
    opacity: 0.9;
  }
  .Image {
    height: 200px;
    width: 300px;
  }
}